extends ../components/base/layout

block variables
  - const title = "VRNas"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"
  -
    const priceCardData = {
      items: [
        {
          title: "Customizable packages",
          texts: [
            "We&nbsp;understand that each project is&nbsp;unique, so&nbsp;we&nbsp;offer customizable packages to&nbsp;ensure that you get the services you need at&nbsp;a&nbsp;price that works for you. Our team will work with you to&nbsp;create a&nbsp;package that meets your specific goals and budget.",
          ],
        },
        {
          title: "Flexible payment options",
          texts: [
            "We&nbsp;offer flexible payment options to&nbsp;make it&nbsp;easy for you to&nbsp;get started with our services. We&nbsp;accept various payment methods, including credit cards, bank transfers, and PayPal, and we&nbsp;can also work with you to&nbsp;create a&nbsp;payment plan that suits your needs.",
          ],
        },
        {
          title: "Satisfaction guarantee",
          texts: [
            "We&nbsp;stand behind our services and are committed to&nbsp;ensuring that you are completely satisfied with the final product. If&nbsp;for any reason you are not happy with our services, we&nbsp;will work with you to&nbsp;make it&nbsp;right or&nbsp;provide a&nbsp;full refund.",
          ],
        },
      ],
      img: {
        path: "price-card-1",
        format: "png",
        alt: "Картинка мужчины",
      },
      price: "$99",
    }
  -
    const serviceCards = [
      {
        icon: "icon-service-1",
        title: "VR Development",
        text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
      },
      {
        icon: "icon-service-2",
        title: "VR Design",
        text: "Our talented&nbsp;VR designers will create immersive and engaging environments that will captivate your audience.",
      },
      {
        icon: "icon-service-3",
        title: "VR Consulting",
        text: "Our VR&nbsp;consultants will work with you to&nbsp;ensure that your&nbsp;VR experience meets your goals and exceeds your expectations.",
      },
      {
        icon: "icon-service-4",
        title: "VR Games",
        text: "We&nbsp;offer a&nbsp;wide selection of&nbsp;VR games that are suitable for players of&nbsp;all ages and skill levels.",
      },
      {
        icon: "icon-service-5",
        title: "VR Events",
        text: "Make your next event unforgettable with our&nbsp;VR event services.",
      },
      {
        icon: "icon-service-6",
        title: "VR Entertainment",
        text: "Create a&nbsp;VR escape room, or&nbsp;offer&nbsp;VR experiences at&nbsp;a&nbsp;theme park, we&nbsp;have the expertise and experience to&nbsp;make it&nbsp;happen.",
      },
    ]
  -
    const serviceCustomCards = [
      {
        icon: "icon-service-custom-1",
        title: "Expertise",
        text: "Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;passion for&nbsp;VR and a&nbsp;commitment to&nbsp;delivering quality work and give the best service",
      },
      {
        icon: "icon-service-custom-2",
        title: "Customization",
        text: "Every client is&nbsp;unique, and we&nbsp;believe every&nbsp;VR experience should be&nbsp;too. We&rsquo;ll work with you to&nbsp;create a&nbsp;customized solution that meets your specific needs and goals",
      },
      {
        icon: "icon-service-custom-3",
        title: "Service",
        text: "We&nbsp;believe in&nbsp;providing exceptional customer service, from initial consultation to&nbsp;final delivery. Our goal is&nbsp;to&nbsp;ensure you&rsquo;re satisfied with every aspect of&nbsp;your&nbsp;VR experience.",
      },
    ]
  -
    const users = [
      {
        image: "user-3",
        format: "png",
      },
      {
        image: "user-2",
        format: "png",
      },
      {
        image: "user-1",
        format: "png",
      },
    ]
  -
    const imgSet1 = {
      main: {
        path: "content",
        image: "imgSet-1-main",
        format: "png",
        alt: "",
      },
      additional: {
        path: "content",
        image: "imgSet-1-additional",
        format: "png",
        alt: "",
      },
    }

block main
  main
    +page-content()
      +page-section().page-section--no-padding-top(data-animation-fade)
        +intro(users)
      +page-section().page-section--no-padding-top(data-animation-fade)
        .container
          +service-list(serviceCustomCards).service-list--catalog
      +page-section()(id="service", data-animation-fade)
        +service(serviceCards)
      +page-section()(id="price", data-animation-fade)
       +price(priceCardData)
      +page-section()(data-animation-fade)
        .container
          +subscription()
      +page-section()(data-animation-fade)
        .container
          .grid
            +img-set(imgSet1)
            +page-intro(
              {
                customText: {
                  text: "Why choose us",
                },
                title: {
                  tag: "h2",
                  text: "Why choose us for your VR needs",
                }
              }
            )

block modals
