extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#modals") Модальные окна
            li
              a(href="#buttons") Кнопки
            li
              a(href="#links") Ссылки
            li
              a(href="#titles") Заголовки
            li
              a(href="#logo") Логотип
            li
              a(href="#forms") Элементы форм

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="../../img/sprite/icon-logo.svg", width="300", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Модальные окна
        section.uikit__section(id="modals")
          h2.uikit__h2 Модальные окна
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--feedback
            +btn({text: "modal-feedback"})(data-open-modal="feedback")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-feedback"})(data-open-modal="feedback")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--success
            +btn({text: "modal-success"})(data-open-modal="success")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-success"})(data-open-modal="success")

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn--transparent
            +btn({text: "Текст", href: "#", isExternal: true, label: "Просто ссылка"}).btn--transparent
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true, label: "Просто ссылка"}).btn--transparent
          .uikit__component
            p.uikit__text.uikit__text--class .btn--header
            +btn({text: "Кнопка"}).btn--header
            pre
              |
              code(class="language-pug").
                +btn({text: "Кнопка"}).btn--header
          .uikit__component
            p.uikit__text.uikit__text--class .btn (disabled)
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Ссылки
        section.uikit__section(id="links")
          h2.uikit__h2 Ссылки
          .uikit__component
            p.uikit__text.uikit__text--class .link
            +link({text: "Ссылка", href: "#", label: "Обычная ссылка"})
            pre
              |
              code(class="language-pug").
                +link({text: "Ссылка", href: "#", label: "Обычная ссылка"})

        //- Ссылки
        section.uikit__section(id="logo")
          h2.uikit__h2 Логотип
          .uikit__component
            p.uikit__text.uikit__text--class .logo (на главной странице)
            +logo({isIndex: true})
            pre
              |
              code(class="language-pug").
                +logo({isIndex: true})
          .uikit__component
            p.uikit__text.uikit__text--class .logo (на любой другой странице)
            +logo()
            pre
              |
              code(class="language-pug").
                +logo()

        //- Заголовки
        section.uikit__section(id="titles")
          h2.uikit__h2 Заголовки
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--custom
            +title({text: "Кастомизированный заголовок"}).title--custom
            pre
              |
              code(class="language-pug").
                +title({text: "Кастомизированный заголовок"}).title--custom
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h1
            +title({text: "Заголовок 1 уровня"}).title--h1
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 1 уровня"}).title--h1
          .uikit__component
            p.uikit__text.uikit__text--class .title
            +title({text: "Заголовок 2 уровня"})
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 2 уровня"})
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h3
            +title({text: "Заголовок 3 уровня"}).title--h3
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 3 уровня"}).title--h3
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h4
            +title({text: "Заголовок 4 уровня"}).title--h4
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 4 уровня"}).title--h4
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h5
            +title({text: "Заголовок 5 уровня"}).title--h5
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 5 уровня"}).title--h5
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h6
            +title({text: "Заголовок 6 уровня"}).title--h6
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 6 уровня"}).title--h6
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h7
            +title({text: "Заголовок 7 уровня"}).title--h7
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 7 уровня"}).title--h7
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h8
            +title({text: "Заголовок 8 уровня"}).title--h8
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 8 уровня"}).title--h8
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h9
            +title({text: "Заголовок 9 уровня"}).title--h9
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 9 уровня"}).title--h9
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h10
            +title({text: "Заголовок 10 уровня"}).title--h10
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 10 уровня"}).title--h10
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h11
            +title({text: "Заголовок 11 уровня"}).title--h11
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 11 уровня"}).title--h11
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h12
            +title({text: "Заголовок 12 уровня"}).title--h12
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 12 уровня"}).title--h12

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="tel"
            +custom-input({
              inputType: "tel",
              inputLabel: "Введите номер телефона",
              inputName: "user-phone",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "tel",
                  inputLabel: "Введите номер телефона",
                  inputName: "user-phone",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Введите вашу почту",
                  inputName: "user-mail",
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-textarea \ default
            +custom-textarea({
              inputLabel: "Расскажите о себе",
              inputName: "user-info"
            })
            pre
              |
              code(class="language-pug").
                +custom-textarea({
                  inputLabel: "Расскажите о себе",
                  inputName: "user-info"
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-toggle \ default
            +custom-toggle({
              inputLabel: "Чекбокс",
              inputName: "user-agreement",
              inputValue: "user-agreement-1",
              inputChecked: false
            }).custom-toggle--checkbox
            pre
              |
              code(class="language-pug").
                +custom-toggle({
                  inputLabel: "Чекбокс",
                  inputName: "user-agreement",
                  inputValue: "user-agreement-1",
                  inputChecked: false
                }).custom-toggle--checkbox


          .uikit__component
            p.uikit__text Базовый селект c placeholder
            p.uikit__text.uikit__text--class +custom-select \ default
            +custom-select({
              placeholder: "Выберите одну из опций",
              error: "Выберите тему обращения",
              optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
            })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select
            pre
              |
              code(class="language-pug").
                +custom-select({
                  placeholder: "Выберите одну из опций",
                  error: "Выберите тему обращения",
                  optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
                })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select


  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
