extends ../components/base/layout

block variables
  - const title = "UI-kit"
  -
    const serviceCard = {
      icon: "icon-service-1",
      title: "VR Development",
      text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
    }
  -
    const serviceCards = [
      {
        icon: "icon-service-1",
        title: "VR Development",
        text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
      },
      {
        icon: "icon-service-2",
        title: "VR Design",
        text: "Our talented&nbsp;VR designers will create immersive and engaging environments that will captivate your audience.",
      },
      {
        icon: "icon-service-3",
        title: "VR Consulting",
        text: "Our VR&nbsp;consultants will work with you to&nbsp;ensure that your&nbsp;VR experience meets your goals and exceeds your expectations.",
      },
    ]
  -
    const intro1 = {
      customText: {
        text: "Why choose us",
      },
      title: {
        tag: "h2",
        text: "Why choose us for your VR needs",
        class: "title--h3",
      }
    }
  -
    const intro2 = {
      grid: true,
      customText: {
        text: "Our service",
      },
      title: {
        tag: "h2",
        text: "Our service",
      }
    }
  -
    const intro3 = {
      grid: true,
      customText: {
        text: "Our team",
      },
      title: {
        tag: "h2",
        text: "Our professionals team",
      }
    }
  -
    const accordionData = [
      {
        isActive: true,
        title: "Passionate and experienced team",
        titleTag: "h3",
        texts: [
          "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
        ],
      },
      {
        title: "Customized solutions",
        titleTag: "h3",
        texts: [
          "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
        ],
      },
    ]

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#modals") Модальные окна
            li
              a(href="#buttons") Кнопки
            li
              a(href="#links") Ссылки
            li
              a(href="#titles") Заголовки
            li
              a(href="#logo") Логотип
            li
              a(href="#text-content") Text-content
            li
              a(href="#forms") Элементы форм
            li
              a(href="#form") Форма
            li
              a(href="#page-intro") Page intro
            li
              a(href="#service-card") Service card
            li
              a(href="#service-list") Service list
            li
              a(href="#subscription") Subscription
            li
              a(href="#accordion") Accordion

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="../../img/sprite/icon-logo.svg", width="300", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Модальные окна
        section.uikit__section(id="modals")
          h2.uikit__h2 Модальные окна
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--feedback
            +btn({text: "modal-feedback"})(data-open-modal="feedback")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-feedback"})(data-open-modal="feedback")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--success
            +btn({text: "modal-success"})(data-open-modal="success")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-success"})(data-open-modal="success")

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn--transparent
            +btn({text: "Текст", href: "#", isExternal: true, label: "Просто ссылка"}).btn--transparent
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true, label: "Просто ссылка"}).btn--transparent
          .uikit__component
            p.uikit__text.uikit__text--class .btn--header
            +btn({text: "Кнопка"}).btn--header
            pre
              |
              code(class="language-pug").
                +btn({text: "Кнопка"}).btn--header
          .uikit__component
            p.uikit__text.uikit__text--class .btn (disabled)
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Ссылки
        section.uikit__section(id="links")
          h2.uikit__h2 Ссылки
          .uikit__component
            p.uikit__text.uikit__text--class .link
            +link({text: "Ссылка", href: "#", label: "Обычная ссылка"})
            pre
              |
              code(class="language-pug").
                +link({text: "Ссылка", href: "#", label: "Обычная ссылка"})

        //- Логотип
        section.uikit__section(id="logo")
          h2.uikit__h2 Логотип
          .uikit__component
            p.uikit__text.uikit__text--class .logo (на главной странице)
            +logo({isIndex: true})
            pre
              |
              code(class="language-pug").
                +logo({isIndex: true})
          .uikit__component
            p.uikit__text.uikit__text--class .logo (на любой другой странице)
            +logo()
            pre
              |
              code(class="language-pug").
                +logo()

        //- Заголовки
        section.uikit__section(id="titles")
          h2.uikit__h2 Заголовки
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--custom
            +title({text: "Кастомизированный заголовок"}).title--custom
            pre
              |
              code(class="language-pug").
                +title({text: "Кастомизированный заголовок"}).title--custom
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h1
            +title({text: "Заголовок 1 уровня"}).title--h1
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 1 уровня"}).title--h1
          .uikit__component
            p.uikit__text.uikit__text--class .title
            +title({text: "Заголовок 2 уровня"})
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 2 уровня"})
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h3
            +title({text: "Заголовок 3 уровня"}).title--h3
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 3 уровня"}).title--h3
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h4
            +title({text: "Заголовок 4 уровня"}).title--h4
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 4 уровня"}).title--h4
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h5
            +title({text: "Заголовок 5 уровня"}).title--h5
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 5 уровня"}).title--h5
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h6
            +title({text: "Заголовок 6 уровня"}).title--h6
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 6 уровня"}).title--h6
          .uikit__component
            p.uikit__text.uikit__text--class .title.title--h7
            +title({text: "Заголовок 7 уровня"}).title--h7
            pre
              |
              code(class="language-pug").
                +title({text: "Заголовок 7 уровня"}).title--h7

        //- Text-content
        section.uikit__section(id="text-content")
          h2.uikit__h2 Text-content
          .uikit__component
            p.uikit__text.uikit__text--class .text-content p
            +text-content()
              p VRNas is&nbsp;a&nbsp;leading provider of&nbsp;VR services for education, entertainment, architecture, and events. Our mission is&nbsp;to&nbsp;bring the power of&nbsp;virtual reality to&nbsp;everyone, allowing them to&nbsp;explore new worlds, learn in&nbsp;new ways, and experience events in&nbsp;a&nbsp;whole new light.
            pre
              |
              code(class="language-pug").
                +text-content()
                  p VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways, and experience events in a whole new light.
          .uikit__component
            p.uikit__text.uikit__text--class .text-content ul > li > p
            +text-content()
              ul
                li
                  p Cutting-edge technology
                li
                  p Versatile applications
                li
                  p Affordable and accessible
            pre
              |
              code(class="language-pug").
                +text-content()
                  ul
                    li
                      p Cutting-edge technology
                    li
                      p Versatile applications
                    li
                      p Affordable and accessible

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputPlaceholder: "Enter your email address",
              inputName: "user-email",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputPlaceholder: "Enter your email address",
                  inputName: "user-email",
                })

        //- Форма
        section.uikit__section(id="form")
          h2.uikit__h2 Форма
          .uikit__component
            p.uikit__text.uikit__text--class .form
            +form()
            pre
              |
              code(class="language-pug").
                +form()

        //- Page intro
        section.uikit__section(id="page-intro")
          h2.uikit__h2 Page intro
          .uikit__component
            p.uikit__text.uikit__text--class .page-intro
            +page-intro(intro1)
            pre
              |
              code(class="language-pug").
                +page-intro(
                  {
                    customText: {
                      text: "Why choose us",
                    },
                    title: {
                      tag: "h2",
                      text: "Why choose us for your VR needs",
                      class: "title--h3"
                    }
                  }
                )
          .uikit__component
            p.uikit__text.uikit__text--class .page-intro--center
            +page-intro(intro1).page-intro--center
            pre
              |
              code(class="language-pug").
                +page-intro(
                  {
                    customText: {
                      text: "Why choose us",
                    },
                    title: {
                      tag: "h2",
                      text: "Why choose us for your VR needs",
                      class: "title--h3"
                    }
                  }
                ).page-intro--center
          h2.uikit__h2 Page intro с гридом
          .uikit__component
            p.uikit__text.uikit__text--class .page-intro (грид 1/1 - по умолчанию)
            +page-intro(intro2)
              +text-content()
                We use the latest VR hardware and software to create high-quality VR experiences that are accessible and affordable. Our goal is to provide exceptional customer service and support, and our team is always available to answer any questions and address any concerns you may have.
            pre
              |
              code(class="language-pug").
                +page-intro(
                  {
                    grid: true,
                    customText: {
                      text: "Our service",
                    },
                    title: {
                      tag: "h2",
                      text: "Our service",
                    }
                  }
                )
                  +Текст()
          .uikit__component
            p.uikit__text.uikit__text--class .page-intro (грид 3/1)
            +page-intro(intro3).page-intro--grid-3-1
              +btn({text: "See all"}).btn--transparent
            pre
              |
              code(class="language-pug").
                +page-intro(
                  {
                    grid: true,
                    customText: {
                      text: "Our team",
                    },
                    title: {
                      tag: "h2",
                      text: "Our professionals team",
                    }
                  }
                ).page-intro--grid-3-1
                  +Кнопка()

        //- Service card
        section.uikit__section(id="service-card")
          h2.uikit__h2 Service card
          .uikit__component
            p.uikit__text.uikit__text--class .service-card
            +service-card(serviceCard)
            pre
              |
              code(class="language-pug").
                +service-card(
                  {
                    icon: "service-card-1",
                    title: "VR Development",
                    text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
                  }
                )
          .uikit__component
            p.uikit__text.uikit__text--class .service-card--catalog
            +service-card(serviceCard).service-card--catalog
            pre
              |
              code(class="language-pug").
                +service-card(
                  {
                    icon: "service-card-1",
                    title: "VR Development",
                    text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
                  }
                ).service-card--catalog
            p.uikit__text.uikit__text--class Или вложить .service-card в .service-list--catalog:
            pre
              |
              code(class="language-pug").
                +service-list(
                  {
                    icon: "service-card-1",
                    title: "VR Development",
                    text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
                  }
                ).service-list--catalog

        //- Service list
        section.uikit__section(id="service-list")
          h2.uikit__h2 Service list
          .uikit__component
            p.uikit__text.uikit__text--class .service-list
            +service-list(serviceCards)
            pre
              |
              code(class="language-pug").
                +service-list(serviceCards)
          .uikit__component
            p.uikit__text.uikit__text--class .service-list--catalog
            +service-list(serviceCards).service-list--catalog
            pre
              |
              code(class="language-pug").
                +service-list(serviceCards).service-list--catalog

        //- Subscription
        section.uikit__section(id="subscription")
          h2.uikit__h2 Subscription
          .uikit__component
            p.uikit__text.uikit__text--class .subscription
            +subscription()
            pre
              |
              code(class="language-pug").
                +subscription()

        Accordion
        section.uikit__section(id="accordion")
          h2.uikit__h2 Accordion
          .uikit__component
            p.uikit__text.uikit__text--class .accordion
            +accordion(accordionData)
            pre
              |
              code(class="language-pug").
                +accordion(
                  [
                    {
                      isActive: true,
                      title: "Passionate and experienced team",
                      titleTag: "h3",
                      texts: [
                        "We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.",
                      ],
                    },
                    {
                      title: "Customized solutions",
                      titleTag: "h3",
                      texts: [
                        "We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.",
                      ],
                    },
                  ]
                )

  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
