mixin price(priceData)
  .price&attributes(attributes)
    .container
      +page-intro(
        {
          customText: {
            text: "Our pricing",
          },
          title: {
            tag: "h2",
            text: "Affordable VR services for everyone",
          }
        }
      )
        +text-content()
          p At&nbsp;VRNas, we&nbsp;believe that everyone should have access to&nbsp;the benefits of&nbsp;VR. That&rsquo;s why we&nbsp;offer a&nbsp;range of&nbsp;pricing options to&nbsp;meet the needs of&nbsp;any budget.
      +price-card(priceData)
