mixin service(serviceCards)
  .service&attributes(attributes)
    .container
      +page-intro(
        {
          grid: true,
          customText: {
            text: "Our service",
          },
          title: {
            tag: "h2",
            text: "Our service",
          }
        }
      )
        +text-content()
          p We&nbsp;use the latest&nbsp;VR hardware and software to&nbsp;create high-quality VR&nbsp;experiences that are accessible and affordable. Our goal is&nbsp;to&nbsp;provide exceptional customer service and support, and our team is&nbsp;always available to&nbsp;answer any questions and address any concerns you may have.
      +service-list(serviceCards)
