mixin subscription(options = {})
  .subscription&attributes(attributes)
    +title({tag: "h2", text: "Subscribe to&nbsp;our newsletter for latest updates"}).title--h3.title--no-capitalize
    +form()
