.articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  list-style: none;

  padding: 0;
  margin: 0;

  &__item {
    display: grid;
    grid-template-columns: 102px 1fr;
    gap: 15px;

    &:not(:last-child) {
      position: relative;

      padding-bottom: 24px;

      &::after {
        content: "";

        width: 100%;
        height: 1px;

        background-color: $color-default-white-15;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__img-wrapper {
    max-height: 65px;

    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-bottom: calc(65 / 102 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    @include vp-767 {
      width: 90%;
    }

    .link {
      font-size: 12px;
      line-height: 167%;
      font-weight: 400;
    }
  }
}
