.blog {
  &__wrapper {
    > .hashtags {
      margin-bottom: 2px;
    }

    > .title {
      margin: 0 0 12px;
    }

    .publication-info {
      margin: 0 0 12px;
    }
  }

  &__hashtags,
  &__socials {
    .title {
      margin: 0 0 11px;
    }
  }

  &__hashtags {
    margin: 0 0 17px;
  }

  &__articles,
  &__tags {
    .title {
      margin: 0 0 23px;
    }
  }

  &__articles {
    margin: 0 0 75px;
  }
}
