.breadcrumbs {
  margin: 0 0 53px;

  @include vp-1023 {
    margin: 0 0 43px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;

    padding: 0;
    margin: 0;

    @include vp-767 {
      flex-wrap: nowrap;

      overflow-y: auto;
    }
  }

  &__item {
    @include vp-767 {
      white-space: nowrap;
    }

    &:not(:last-child) {
      position: relative;

      padding: 0 4px 0 0;
      margin: 0 22px 0 0;

      & [href] {
        font-weight: 600;
      }

      &::after {
        content: url("../img/sprite/icon-pagination.svg");

        width: 18px;
        height: 18px;

        position: absolute;
        right: -16px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }

  &__link {
    display: inline-flex;

    font-size: 16px;
    line-height: 175%;
    font-weight: 300;
    color: $color-default-white;
  }
}
