.hashtags {
  margin: 0 -10px -6px 0;

  .hashtag {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    font-size: 10px;
    line-height: 140%;
    font-weight: 500;
    word-break: break-word;

    background-color: $color-default-white-30;
    border-radius: 11.5px;

    padding: 2px 7px;
    margin: 0 10px 6px 0;


  }

  &--big {
    .hashtag {
      font-size: 14px;
      line-height: 142.8%;

      padding: 2px 10px;
    }
  }

  &--custom {
    background: linear-gradient(90deg, rgba(12, 186, 241, 1) 0%, rgba(233, 92, 233, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;

    .hashtag {
      font-size: 16px;
      line-height: 175%;
      font-weight: 300;

      background-color: unset;
      border-radius: unset;

      padding: 0;
      margin: 0;
    }
  }
}
