.intro {
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 48.5% 44%;
    gap: 90px;

    position: relative;

    @include vp-1279 {
      grid-template-columns: 1fr;
      gap: 0;
    }

    &::after {
      content: "";

      width: 24%;
      height: 91%;

      transform: rotate(-90deg);

      position: absolute;
      bottom: -4%;
      right: 13%;

      z-index: -1;

      background-image: $intro-gradient;
      filter: blur(105px);

      @include vp-1279 {
        width: 22%;
        height: 71%;

        bottom: -9%;
        right: 26%;
      }

      @include vp-767 {
        width: 37%;
      }
    }
  }

  &__wrapper {
    margin: 76px 0 0;

    @include vp-1279 {
      margin: 0;
    }

    .title {
      margin: 0 0 17px;

      @include vp-1279 {
        margin: 0 0 12px;
      }
    }

    .text-content {
      max-width: 77%;

      margin: 0 0 31px;

      @include vp-1279 {
        max-width: 100%;
      }
    }

    .btn {
      min-width: 35.5%;

      margin: 0 0 80px;

      @include vp-1279 {
        min-width: 50.5%;

        margin: 0 0 33px;
      }
    }
  }

  &__clients {
    max-width: 59%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include vp-1279 {
      max-width: 100%;
    }
  }

  .users {
    max-width: 135px;

    margin: 0 15px 0 0;
  }

  &__caption {
    width: 100%;

    font-size: 16px;
    line-height: 175%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 12px 0 0;

    .intro__amount {
      font-weight: 600;

      position: relative;

      margin: 0 3px 0 0;

      &::before {
        content: url("../img/sprite/gradient/icon-decoration.svg");

        width: 47px;
        height: 7px;

        position: absolute;
        top: 7px;
        left: -7px;
      }
    }

    .intro__text {
      font-weight: 300;

      margin: 0;
    }
  }

  &__img {
    width: 100%;
    max-height: 626px;

    align-self: flex-end;

    position: relative;

    @include vp-1279 {
      max-height: 418px;

      margin: 0 0 0 148px;
    }

    @include vp-767 {
      margin: 0 0 0 148px;
    }

    &::before {
      content: "";

      display: block;
      padding-bottom: calc(626 / 526 * 100%);

      @include vp-1279 {
        padding-bottom: calc(422 / 354 * 100%);
      }
    }

    img {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      object-fit: cover;
    }
  }

  &__additionalImg {
    max-width: 196px;
    width: 100%;
    max-height: 128px;
    height: 100%;

    content: "";

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 12%;
    left: -61%;

    background-color: $color-black-russian-2;

    margin: 0 auto;

    @include vp-1279 {
      bottom: 35%;
      right: 88%;
      left: unset;
    }

    @include vp-767 {
      bottom: 35%;
      right: 88%;
      left: unset;
    }
  }

  img {
    width: auto;
    right: 0;

    margin: 0 auto;
  }
}
