.link {
  font-size: 16px;
  line-height: 175%;
  font-weight: 300;
  color: $color-default-white;

  cursor: pointer;
  transition: opacity $trans-default;

  outline: none;

  padding: 0;

  @include hover-focus {
    opacity: 0.8;
  }
}
