.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  list-style: none;

  padding: 0;
  margin: 0;

  @include vp-1279 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    max-height: 291px;
    height: 100%;

    &:nth-child(3n + 2) {
      transform: translateY(calc(57px * 1));

      @include vp-1279 {
        transform: translateY(0);
      }

      &:last-child {
        margin: 0 0 calc(57px * 1);

        @include vp-1279 {
          margin: 0;
        }
      }
    }

    &:nth-child(3n) {
      transform: translateY(calc(57px * 2));

      @include vp-1279 {
        transform: translateY(0);
      }

      &:last-child {
        margin: 0 0 calc(57px * 2);

        @include vp-1279 {
          margin: 0;
        }
      }
    }
  }
}
