.video-block {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .btn {
      min-width: 182px;
    }
  }

  .page-intro {
    max-width: 67%;

    margin: 0 auto 49px;

    @include vp-1279 {
      max-width: 80%;
    }

    @include vp-1023 {
      max-width: 100%;

      margin: 0 auto 32px;
    }
  }

  .video {
    margin: 0 auto 49px;

    @include vp-1023 {
      margin: 0 auto 32px;
    }
  }
}
