mixin articles(cards = [])
  ul.articles&attributes(attributes)
    each card in cards
      li.articles__item
        .articles__img-wrapper
          +picture("content", card.img.name, card.img.format, 102, 65, "Картинка статьи")
        .articles__wrapper
          +hashtags(card.hashtags)
          +link({href: card.href, text: card.text})
