mixin form(options = {})
  form.form&attributes(attributes)
    +custom-input({inputType: "email", inputPlaceholder: "Enter your email address", inputName: "user-email"})
    button.form__btn(type="submit")
      +icon("icon-send", 16, 16)
