mixin img-set(data = {})
  .img-set&attributes(attributes)
    .img-set__main(data-parallax-mouse, data-movement="10", data-duration="1.5")
      .img-set__img-wrapper
        +picture(data.main.path, data.main.image, data.main.format, 500, 574, data.main.alt)
    if (data.additional)
      .img-set__additional(data-parallax-mouse, data-movement="9")
        +picture(data.additional.path, data.additional.image, data.additional.format, 196, 128, data.additional.alt)
