mixin service-card(data = {})(tabindex=1)
  .service-card
    .service-card__wrapper
      +icon(data.icon, 48, 48, true)
      +title({tag: "h3", text: data.title}).title--h7
      p.service-card__text!= data.text
    .service-card__btn-wrapper
      +btn({text: "Load more"}).btn--transparent(tabindex=0)
