mixin social-item(data = {})
  - const customClass = data.isCustom ? "social-item--custom" : "";

  a.social-item&attributes(attributes)(href=data.href, aria-label="Переход на социальные сети" class=customClass)
    +icon(data.icon, data.width, data.height, data.gradient)
