.img-block {
  @include vp-1023 {
    .img-set {
      order: 0;
    }

    .img-block__wrapper {
      order: 1;
    }
  }

  &--mobile-img-last {
    .grid {
      gap: 40px;
    }

    @include vp-1023 {
      .img-block__wrapper {
        order: 0;
      }

      .img-set {
        order: 1;
      }
    }
  }

  .grid {
    gap: 75px;
  }

  .page-intro {
    margin: 80px 0 32px;

    @include vp-1279 {
      margin: 30px 0 32px;
    }

    @include vp-1023 {
      margin: 0 0 32px;
    }
  }

  &__wrapper {
    .btn {
      min-width: 165px;

      margin: 32px 0 0;
    }
  }
}
