// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-white-6:             rgba(255, 255, 255, 0.06);
$color-default-white-7:             rgba(255, 255, 255, 0.07);
$color-default-white-21:            rgba(255, 255, 255, 0.21);
$color-default-white-35:            rgba(255, 255, 255, 0.35);
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-free-speech-magenta:         #e95ce9;
$color-deep-sky-blue:               #0cbaf1;
$color-jade:                        #00c566;
$color-coral-red:                   #ff4747;
$color-black-russian:               #18181b;
$color-light-grey:                  #d1d1d1;
$color-aguar-60:                    rgba(37, 37, 50, 0.6);

// Gradient

$main-gradient:                     linear-gradient(90deg, rgba(12, 186, 241, 1) 0%, rgba(233, 92, 233, 1) 100%);
$gray-gradient:                     linear-gradient(180deg, rgba(37, 37, 50, 0) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-chakra-petch:                    "ChakraPetch", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
