//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite


//- Blocks

include ./blocks/intro
include ./blocks/subscription
include ./blocks/price
include ./blocks/service
include ./blocks/img-block
include ./blocks/blog
include ./blocks/video-block
include ./blocks/team-block
include ./blocks/partners-block

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/link
include ./mixins/logo
include ./mixins/title
include ./mixins/service-card
include ./mixins/service-list
include ./mixins/page-intro
include ./mixins/text-content
include ./mixins/form
include ./mixins/accordion
include ./mixins/social-item
include ./mixins/social-list
include ./mixins/page-content
include ./mixins/page-section
include ./mixins/price-card
include ./mixins/users
include ./mixins/img-set
include ./mixins/breadcrumbs
include ./mixins/hashtags
include ./mixins/articles
include ./mixins/publication-info
include ./mixins/video
include ./mixins/main-title
include ./mixins/team
include ./mixins/partners
